<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Alireza Fatem">
    <title>rightel</title>
    <link rel="shortcut icon" href="/Rightel/image/Rightel2.png">
    <link rel="stylesheet" href="/Rightel/style/scss/style.css">
    <link rel="stylesheet" href="/Rightel/node_modules/swiper/swiper-bundle.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" /> -->
    <link rel="stylesheet" href="/Rightel/fontawesome-free-6.3.0-web/css/all.min.css">
</head>

<body>

   {{> _topHeader }}

    <span class="use-dark"></span>

   {{> _header }}
   {{> _main }}
   {{> _footer }}
  
    <!-- <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script> -->
    <script src="/Rightel/node_modules/swiper/swiper-bundle.js"></script>
    <script src="/Rightel/js/main.js"></script>
</body>

</html>