<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <div class="home-container">
        <h1> My Radmehr Project </h1>
        <h2> Node js </h2>

        <div class="home-links">
            <a class="home-link" href="/"> Home </a>
            <a class="login-link" href="/login"> Sign in </a>
            <a class="register-link" href="/register"> Sign up </a>
            <a class="profile-link" href="/profile"> Profile </a>
        </div>
    </div>
</body>

</html>