<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/styles/profile.css">
</head>

<body>
    <div class="profile-container">
        <div class="prifile-header">
            <h1> My Radmehr Project </h1>
            <h2> Node js </h2>
            <p> You have successfully Entered thr profile page </p>
        </div>

        <div class="prifile-fields">
            <div class="prifile-field1">
                <h4> id </h4>
                <h4> fullName </h4>
                <h4> username </h4>
                <h4> password </h4>
            </div>
            <div class="prifile-field2">
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
            </div>
        </div>

        <div class="prifile-links">
            <a class="logout-link" href="/logout">Log Out</a>
            <a class="home-link" href="/">Home</a>
        </div>
    </div>
</body>

</html>