  <footer>
        <div>
            <h3>محصولات و خدمات</h3>
            <ul>
                <li><a href="#"> خرید بسته اینترنتی </a></li>
                <li><a href="#"> خرید شارژ </a></li>
                <li><a href="#"> تبدیل سیمکارت </a></li>
                <li><a href="#"> کد های دستوری </a></li>
                <li><a href="#"> خرید و ثبت نام سیمکارت </a></li>
                <li><a href="#"> تعرفه ها </a></li>
                <li><a href="#"> خدمات سازمانی </a></li>
            </ul>
        </div>
        <div>
            <h3>دستوری کوتاه</h3>
            <ul>
                <li><a href="#"> ورود به سامانه رایتل من</a></li>
                <li><a href="#"> استعلام وضعیت سیمکارت</a></li>
                <li><a href="#"> راهنمای تنظیمات</a></li>
                <li><a href="#"> پرسش های متداول</a></li>
                <li><a href="#"> نقشه سایت</a></li>
                <li><a href="#"> رهگیری مرسوله پستی</a></li>
                <li><a href="#"> ارتباط با تامین کنندگان</a></li>
            </ul>
        </div>
        <div>
            <h3>درگاه های مرتبط</h3>
            <ul>
                <li><a href="#"> سامانه خبری حراست شرکت سرمایه گذاری تامین اجتماعی </a></li>
                <li><a href="#"> سامانه اخبار و گزارشات حراست رایتل </a></li>
                <li><a href="#"> سازمان تنظیم و مقررات و ارتباطات رادیویی </a></li>
                <li><a href="#"> استعلام تعداد خطوط مشترکین </a></li>
                <li><a href="#"> سازمان تامین اجتماعی </a></li>
                <li><a href="#"> پایگاه دولت همراه </a></li>
                <li><a href="#"> سامانه دسترسی آزاد به اعطلاعات </a></li>
            </ul>
        </div>
        <div>
            <h3>تماس با ما</h3>
            <ul>
                <li><a href="#"> تماس از خطوط رایتلی: 200 </a></li>
                <li><a href="#"> تماس از سایر خطوط : 09202000000 </a></li>
                <li><a href="#"> فروشگاه های رایتل </a></li>
                <li><a href="#"> نمایندگان فروش و خدمات </a></li>
                <li>
                    <a href="#"><img src="/Rightel/image/enamad.png" alt="eNamad logo"></a>
                    <a href="#"><img src="/Rightel/image/195-icon.png" alt="195 photo"></a>
                </li>
            </ul>
        </div>
    </footer>