<header>
    <div>
        <svg id="hamburger-menu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
        <!-- click -->
        <div class="hamburger-list">
            <img src="/Rightel/image/logo.png" alt="rightel photo">
            <ul>
                <li>محصولات
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                    </svg>
                </li>

                <ul class="absolute-rightel">
                    <li>سیمکارت</li>
                    <li>سایر</li>
                </ul>

                <li>خدمات وسرگرمی
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                    </svg>

                </li>

                <ul class="absolute-rightel">
                    <li>خدمات ارتباطی</li>
                    <li>خدمات نوین</li>
                </ul>

                <li>طرح ها و پیشنهاد ها
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                    </svg>
                </li>

                <ul class="absolute-rightel">
                    <li>مشترک جدید</li>
                    <li>بسته ها</li>
                    <li>پیشنهاد های ویژه</li>
                    <li>تعرفه ها</li>
                </ul>

                <li>ثبت نام و خرید
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                    </svg>
                </li>

                <ul class="absolute-rightel">
                    <li>ثبت نام</li>
                    <li>ترابرد</li>
                    <li>امور نمایندگی ها</li>
                    <li>مراکز توزیع و فروش</li>
                </ul>

                <li>رایتل من
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                    </svg>
                </li>

                <ul class="absolute-rightel">
                    <li>پرداخت قبض</li>
                    <li>خرید شارژ</li>
                    <li>رایتل من</li>
                </ul>

                <li>درباره رایتل
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                    </svg>
                </li>

                <ul class="absolute-rightel">
                    <li>رویداد ها</li>
                    <li>اخبار</li>
                    <li>معرفی رایتل</li>
                    <li>همکاری با رایتل</li>
                    <li>تماس با رایتل</li>
                </ul>

                <li>پشتیبانی
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                    </svg>
                </li>

                <ul class="absolute-rightel">
                    <li>مشترکین</li>
                    <li>تنظیمات</li>
                    <li>تماس با رایتل</li>
                </ul>

            </ul>
            <a href="https://www.rightel.ir/mnp"> ترابرد به رایتل </a>
        </div>
        <!-- -------- -->
        <a id="trabord" href="https://www.rightel.ir/mnp"> ترابرد به رایتل </a>
    </div>
    <!-------- NAV------->
    <nav>
        <img src="/Rightel/image/logo.png" alt="rightel photo">
        <ul>
            <li>
                <a href="https://www.rightel.ir/#"> محصولات </a>

                <ol class="absolute-nav">
                    <li> سیمکارت </li>
                    <li> سایر </li>
                </ol>
            </li>

            <li>
                <a href="https://www.rightel.ir/#"> خدمات وسرگرمی </a>
                <ol class="absolute-nav">
                    <li> خدمات ارتباطی </li>
                    <li> خدمات نوین </li>
                </ol>
            </li>
            <li>
                <a href="https://www.rightel.ir/#"> طرح ها و پیشنهاد ها </a>
                <ol class="absolute-nav">
                    <li> مشترک جدید</li>
                    <li> بسته ها </li>
                    <li> پیشنهاد های ویژه </li>
                    <li> تعرفه ها </li>
                </ol>
            </li>
            <li>
                <a href="https://www.rightel.ir/#"> ثبت نام و خرید </a>
                <ol class="absolute-nav">
                    <li> ثبت نام </li>
                    <li> ترابرد </li>
                    <li> امور نمایندگی ها </li>
                    <li> مراکز توزیع و فروش </li>
                </ol>
            </li>
            <li>
                <a href="https://www.rightel.ir/#"> رایتل من </a>
                <ol class="absolute-nav">
                    <li> پرداخت قبض </li>
                    <li> خرید شارژ </li>
                    <li> رایتل من </li>
                </ol>
            </li>
            <li>
                <a href="https://www.rightel.ir/#"> درباره رایتل </a>
                <ol class="absolute-nav">
                    <li> رویداد ها </li>
                    <li> اخبار </li>
                    <li> معرفی رایتل </li>
                    <li> همکاری با رایتل </li>
                    <li> تماس با رایتل </li>
                </ol>
            </li>
            <li>
                <a href="https://www.rightel.ir/#"> پشتیبانی </a>
                <ol class="absolute-nav">
                    <li> مشترکین </li>
                    <li> تنظیمات </li>
                </ol>
            </li>
        </ul>
    </nav>
</header>